:root {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-background: #fff;
  --color-text: #000;

  --font-family-header: '__Gabarito_59a5c9','Helvetica Neue', sans-serif;
  --font-family-text: 'Times New Roman', serif;
  --font-weight-header: 800;
  --font-weight-text: 400;

  --cover-padding-increment: 2rem;
  --title-side-padding: 6rem;
}

body {
  margin: 0 auto;
  padding-top: 2rem;
  max-width: 900px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--color-background);
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-header);
  color: var(--color-text);
}

.coming-soon {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text);
  color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}